.hero {
  display: inline-block;

  position: relative;
}
.hero img {
  border-radius: var(--rounded-card);
}
.hero-text {
  position: absolute;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-align: center;

  font-size: 2rem;
  color: white;
}
